#site-error #content {
  background: #000; }
#site-error .heading {
  background: url("../img/terms_background.jpg") no-repeat center top;
  height: 273px;
  text-align: center; }
  #site-error .heading .title {
    padding: 60px 0 0px; }
#site-error .text {
  margin: 10px auto;
  width: 800px;
  color: #ddd;
  font-size: 14px;
  line-height: 14px;
  font-family: "Palatino Linotype", Georgia, "Times New Roman", serif;
  font-style: normal; }
