
@font-face {
    font-family: 'AkzidenzGroteskBE-Cn';
    src: url('../fonts/akzidenzgroteskbe-cn.eot');
    src: url('../fonts/akzidenzgroteskbe-cn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/akzidenzgroteskbe-cn.woff') format('woff'),
    url('../fonts/akzidenzgroteskbe-cn.ttf') format('truetype'),
    url('../fonts/akzidenzgroteskbe-cn.svg#akzidenzgroteskbe-cn') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BenguiatStd-Book';
    src: url('../fonts/benguiatstdbook.eot');
    src: url('../fonts/benguiatstdbook.eot?#iefix') format('embedded-opentype'),
    url('../fonts/benguiatstdbook.woff') format('woff'),
    url('../fonts/benguiatstdbook.ttf') format('truetype'),
    url('../fonts/benguiatstdbook.svg#benguiatstdbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AkzidenzGroteskBE-LightCn';
    src: url('../fonts/bertholdakzidenzgrotesklightcondensed.eot');
    src: url('../fonts/bertholdakzidenzgrotesklightcondensed.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bertholdakzidenzgrotesklightcondensed.woff') format('woff'),
    url('../fonts/bertholdakzidenzgrotesklightcondensed.ttf') format('truetype'),
    url('../fonts/bertholdakzidenzgrotesklightcondensed.svg#bertholdakzidenzgrotesklightcondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Roman';
    src: url('../fonts/helveticaneueltstd-roman-webfont.eot');
    src: url('../fonts/helveticaneueltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneueltstd-roman-webfont.woff') format('woff'),
    url('../fonts/helveticaneueltstd-roman-webfont.ttf') format('truetype'),
    url('../fonts/helveticaneueltstd-roman-webfont.svg#helveticaneueltstd-roman-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}