@import "_mixins";
@import "_artists";


#content {
    background: #000 url(../img/background_mobile.jpg) no-repeat center top;
    height: auto;

    .heading {
        margin: 30px auto 0;
        background: url(../img/artists_heading_mobile.png) no-repeat center top;
        height: 200px;
        width: 320px;
        overflow: hidden;

        .title {
            display: none;
        }

        .text {
            width: 280px;
            padding: 0;
            padding-top: 110px;
            margin: 0 auto;
            text-align: center;
        }

    }

    .artist {
        width: auto !important;
    }

}

#search {
    padding: 15px 0;
    margin: 0 0 10px 0;

    #keyword {
        float: right;
        text-align: center;
        padding: 5px;
        background: url(../img/input_background.png) repeat-x;
        color: #eee;
        border: none;
        width: 225px;
        font-size: 14px;
        margin-top: 5px;
        @include box-shadow(0, 1px, 2px, rgba(255,255,255,.4));
        @include rounded-all(20px);
    }

    ul {
        list-style: none;
        margin: 0 auto;
    }

    #genre {
        width: 225px;
        font-size: 14px;
        height: 35px;
    }

    #sort_menu {
        input { float: none; }

        li {
            float: left;
            width: 30.33333%;
            padding: 8px 0;
            margin: 0 1.5%;
            text-align: center;
            text-transform: uppercase;
            background: black;
            cursor: pointer;
            @include linear-gradient(rgba(80,80,80,.5), black);
            @include rounded-all(4px);
            @include box-shadow-double(0, -1px, 2px, rgba(0,0,0,.9),
                0,  1px, 1px, rgba(255,255,255,.3));

            text-shadow: 0 -1px 2px rgba(0,0,0,1);
            input {
                position: absolute;
                left: -9999px;
            }
        }.checked {
             background: none;
             @include box-shadow-double(0, -1px, 2px, rgba(0,0,0,.9),
                 0,  1px, 1px, rgba(255,255,255,.4));
             @include box-shadow-inset(1px, 1px, 16px, rgba(150,150,150,.3));
         }
    }

    #sort_tags {
        float: none;
        clear: both;
        margin: 0 auto 15px auto;
        padding: 15px 0 9px 0;
        overflow: hidden;
        border-bottom: solid 1px white;
        border-bottom: solid 1px rgba(255,255,255,.4);
        font-size: 24px;
        text-align: center;
        color: white;
    }

}

#search {

    #keyword, #genre {
        width: 100% !important;
    }

    .keyword, .genre {
        margin-bottom: 5px;
    }

    div.selector {
        width: auto;

        span {
            width: 100%;
        }
    }
}
